
/* #region || Universal */

.body{
    margin: 0px;
    font-family: helvetica;
    font-weight: bold;
}

.sticky{
    position: fixed;
    top: 0;
}

.divider{
    height: 5px;
    background-color: #cccccc;
    margin: 0px auto;
    width: 80%;
    border-radius: 5px;
}

.show{display: block;}

.hide{display: none;}

/* #endregion */

/* #region || Header */

#header{
    background-color: rgba(35, 35, 35, 0.95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    width: 80%;
    z-index: 1;
    backdrop-filter: blur(6px);
}

#header-nav{
    display: flex;
}

#nav-list{
    gap: 1rem;
    display: flex;
    align-items: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 15px ;
    border-bottom: 15px;
}

.nav-item{
    border: none;
    padding: 10px 20px;
    text-align: center;
    flex-grow: 1;
    margin: 0px;
}

.nav-item-text{
    margin: 0px;
    cursor: pointer;
    color: white;
    background-color: none;
    text-decoration: none;
    flex-grow: 1;
    font-size: 16px;
}

.nav-item-text:hover{animation: selectorHover 0.5s; animation-fill-mode: forwards;}
.nav-item-text:hover + .nav-item{animation: navItemResize 0.5s; animation-fill-mode: forwards;}

.nav-item-text-current{
    color: #0066ff;
}

@keyframes navItemResize {
    from {}
    to {
        padding: 5px 10px;
    }
}

/* || Header Responsive */

@media screen and (max-width: 500px){
    #header nav{display: none;}
}

/* #endregion */

/* #region || Menu */

#menu{
    position: relative;
    display: inline-block;
}

.menu-btn{
    cursor: pointer;
}

#menu-content{
    position: absolute;
    /* background-color: #bfbfbf; */
    background-color: rgba(75, 75, 75, 0.95);
    backdrop-filter: blur(6px);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    animation: menuOpen 0.5s ease-in;
}

.menu-item {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 6px 6px;
}

.menu-line{
    height: 2px;
    background-color:black;
    margin: 0px 0px;
    width: 80%;
}

.menu-current{
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 6px 6px;
    background-color: #0066ff;
}

#menu-content a:hover {animation: selectorHover 0.5s; animation-fill-mode: forwards;}

@keyframes menuOpen{
    from{
        /* transform: translateY(-250px); */
        opacity: 0%;
    }
    to{}
}

@keyframes selectorHover{
    from{}
    to{
        font-size: 20px;
    }
}

/* #endregion */

/* #region || Profile With Dropdown */

.profile{
    cursor: pointer;
}

.profile-frame{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img{
    /* 960x1280 native */
    height: 160px;
    width: 120px;
    position: relative;
    right: 38px;
    bottom: 52px;
}

#socials{
    position: absolute;
    margin-top: 10px;
    /* background-color: #f1f1f1; */
    background-color: rgba(75, 75, 75, 0.95);
    backdrop-filter: blur(6px);
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    right: 10%;
    animation: menuOpen 0.5s ease-in;
}

#socials a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 6px 6px;
}

#socials a:hover {background-color: rgba(255, 255, 255, 0.35);}

/* #endregion */

/* #region || Modal */

#modal{
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#modal-filter{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 1;
}

#modal-content{
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    border-radius: 20px;
    position: fixed;
    z-index: 2;
    background-color: #4d4d4d;
    justify-content: center;
    color: white;
}

#modal-header h1{
    text-align: center;
    margin: 6% 0 4% 0;
}

#modal-socials h1{
    text-align: center;
    font-size: 1.7rem;
    margin: 2% 0 0 0;
}

#modal-links{
    display:flex;
    justify-content: space-between;
    margin: 1% 10%;
    font-size: 1.5rem;
    padding: 12px 16px;
}

.modal-link{
    text-decoration: none;
    color:black;
}

.modal-link-img{
    width: 1.1rem;
    height: 1.1rem;
}

#modal-content p{
    margin: 4% 10%;
    text-align: center;
    font-size: 1.2rem;
}

#modal-button{
    margin: 2% 0 2.5% 0;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    background-color: #0066ff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight:bold;
}

/* #endregion */

/* #region || Left Card (linkedin) */

#left-card{
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 30%;
    left: 1.5%;
}

#lcb{
    backdrop-filter: blur(6px);
}

.left-card-button{
    opacity: 0.75;
    height: 75px;
    width: 50px;
    position: absolute;
    margin: 285px 0px 0px 0px;
    background-color: rgba(35, 35, 35, 0.95);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.filter{
    filter: invert(93%) sepia(0%) saturate(7500%) hue-rotate(322deg) brightness(107%) contrast(105%);
}

.left-card-button:hover{
    opacity: 1;
}

#left-card button img{
    margin: 0px;
}

#linkedin-card{
    overflow: hidden;
    z-index: 0;
    animation: leftCardSlideIn 0.5s ease-in;
}

.left-card-active{
    margin: 0px 0px 0px 210px;
    opacity: 1;
    left: 50px;
    animation: leftCardButtonSlideIn 0.5s ease-in;
}

/* || Left Card Animations */

@keyframes leftCardButtonSlideIn{
    0%{
        transform: translateX(-250px);
    }
    100%{}
}
@keyframes leftCardSlideIn{
    0%{
        transform: translateX(-500px);
    }
    100%{}
}

/* #endregion */

/* #region || Main Universal */

#main{background-color: #0d0d0d; color: #f2f2f2;}

.main-title{
    text-align: center;
    font-size: 50px;
}

/* #endregion */

/* #region || Welcome */

#welcome{
    padding: 5% 0;
}

.welcome-intro{
    text-align: center;
    padding: 0 20%;
    font-size: 1.5em;
    color: #b3b3b3;
    line-height: 1.5;
}

/* #endregion */

/* #region || Projects */

#projects{
    padding: 5% 0;
}

#proj-spaceinvaders{
    display: flex;
    justify-content: space-between;
    padding: 5% 10% 0;
}

#proj-si-left{
    width: 50%;
}

#proj-si-right{
    width: 50vw;
    /* background-image: url('../_images/spaceinvaders.png');
    background-size: contain;
    background-repeat: no-repeat; */
    
}

#projects p{
    font-size: 1.5em;
    color: #b3b3b3;
    line-height: 1.5;
}

/* #endregion */

/* #region || Cards */

#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 4%;
}

.card{
    background-color: #cccccc;
    border-radius: 10px;
    overflow: hidden;
    flex: 10%;
    margin: 1%;
}

.card-button{
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    background-color: #0066ff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 2.5% 0;
}

.cards-text{
    text-align: center;
}

.thumbnail{
    width: 100%;
    overflow: hidden;
}

.thumbnail img{
    width: 100%;
}

/* projects */

#projects-card-spaceinvaders{
    width: 500px;
    background-image: url("../_images/spaceinvaders.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

/* about */

#about-card-thumbnail{
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-image: url("../_images/projects-temp-tn.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* resume */

#resume-card-thumbnail{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url("../_images/projects-temp-tn.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* #endregion */

/* #region || Highlights */



/* #endregion */

/* #region || Cover Image */

/* #endregion */

/* #region || Carousel */

.carousel{
    margin-top: 65px;
    position: relative;
}

.carousel-item{
    height: 300px;
    background-color:grey;
    padding: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 2em;
    display: none;
}

.carousel-item-selected{
    display: block;
}

.carousel-nav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* background: red; */
    text-align: center;
}

.carousel-button{
    width: 10px;
    height: 10px;
    display: inline-block;;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-button-selected {
    background: rgba(255, 255, 255, 0.5);
}

/* #endregion */

/* #region || Fillertext */

.fillertext{
    font-size: 24px;
}

.fillertext p{
    /* background-color:white; */
    margin: 0px;
}

/* #endregion */

/* #region || Footer */

#footer{
    background-color: #0d0d0d;
    padding: 2% 10%;
    width: 80%;
}

#footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-line{
    height: 2.5px;
    background-color:white;
    margin: 30px 0px;
}

.rightfoot{
    float: right;
}

.rightfoot img{
    padding-left: 10px;
    cursor: pointer;
}

/* #endregion */

/* #region || Graveyard */

/* .contact{
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    /* filter: drop-shadow(0 0 0.75rem grey); 
    border-radius: 5px;
    font-family: helvetica;
} */

/* #endregion */

/* #region ||  */
